body {
    background-color: rgba(255,255,255,0.3);
    font-family: Consolas,monaco,monospace;
}
 a {
 	text-decoration: none;
 	color:black;
 }

 a:hover {
 	color:white;
 }
.wrapper {
   	width:97.5%;
    margin: 0 auto;
    position: relative;
    display:block;    
}
.banner {
	background-color: rgba(220,225,220,1);
	width:100%;
	overflow:hidden;
	height:150px;
	position:fixed;
	top:0%;
	left:0%;
	z-index:10;
}
.banner-container {
	position:absolute;
	width:95%;
	margin-left:2.5%;
	margin-right: 2.5%;
	margin-top: 20px;
	height:130px;

}
.logo {
	background-color: transparent;
	/*border: 1px solid black;*/
	overflow:hidden;
	position:absolute;
	width: 500px ;
	height: 50%;
	left:0;
	font-size:20px;
	letter-spacing: 3em;
	text-align: center;
	margin-top:20px;

}

.menu {
	background-color: transparent;
	position:absolute;
	width: 250px;
	height: 130px;
	right:0;
	margin-right:0px;
	
}

.menu-table  {
	font-family: Consolas,monaco,monospace;  
	letter-spacing: 1em;
	font-size: 12px;
	text-align:center;
	color: black;
	position:absolute;
	height:100%;
	width:250px;
	margin: 0 auto;
	background-color:transparent;
	border: none;
	border-collapse:collapse;


}
.drop1, .drop2, .drop3 {
	display:none;
	width:250px;
	height:20px;


}

.drop {
	display:block;
	height:30px;
	width:250px;

}


.menu-button {
	height:40px;
	font-size: 25px;
	/*background-color:rgba(255,255,255,0.7);*/
	border-width: 0.5px;
	border: 1px solid;
	border-color: black;
	padding:0px;
	width:250px;
}


/* content*/

.content {
	position: absolute;
	width:100%;
	height:1500px;
	margin-top:160px;
	z-index: 9;
	border: solid 1px black;
	background-color: rgba(250,250,250,0.7);
}

.content img {

	width: 100%;
	height: auto;
	display:block;
}

.r {
	display: block;
	position: relative;
	margin-top: 4px;
}

.c {
	width:30%;
	position:absolute;
	margin-top:10px;
}

#c1 {
	margin-left:5%;	
}

#c2 {
	margin-left:36%;
}

#c3 {
	margin-left: 67% 
}

.block {
	background-color: rgba(255,220,220,0.2);
	height: 100%;
	z-index: 4;
	width: 100%;
	position:absolute;
	display:none;
}

/* scrollbar and max width  */


::-webkit-scrollbar {
  width: 7px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgb(55,55,55);
  border-radius: 0px;
}

@media (max-width: 800px) { 
  .logo
    {
    width: 300px;
  }
}

@media (max-width: 600px) { 
  .logo
    {
    width: 200px;
  }
}